.headerExercise6{
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 2px solid black;
 

}
.imagemexercise6{
  margin-right: auto;
}

.titulo{
  flex-grow: 1;
  text-align: center;
}
img{
  max-width: 100px;
  height: auto;
}